# Ignore data files
data/*

# Ignore model files
models/*

# Ignore notebook checkpoints
.ipynb_checkpoints

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore temporary files
*.log
*.csv
*.png

